.blocos{
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    width: 50%;
    background-color: #BFDDF3;  
}

h1{
    font-family: 𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎;
    text-transform: uppercase;
    font-size: 5rem;
}

button{
    font-size: 1.3rem;
    padding: 2% 4%;
    border-radius:15px;
    background-color: pink;
    border: #ccc;
    font-family: 𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎;
}

body{
    background-color: #BFDDF3;
}

.crud li{
    text-decoration: underline;
    display: inline-block;
    margin: 0 10%;
    font-size: 1.5rem;
}

label{
        width: 150px;
        display: inline-block;
        margin-right: 10px;
}

.forms{
    background-color: pink;
    text-align: left;
    width: 60%;
    padding: 5%;
    border-radius: 20px;    
}

.forms div{
    margin: 2% 20px;
    align-items:flex-end;
}
.horarios {
    display: flex;
    justify-content: space-between;
}
.horarios-chegada, .horarios-saida {
    width: 45%; 
}

.horario-atual {
    margin-top: 20px;
    text-align: center;
}

div input{
    padding: 5px;
    width: 15vh;
    font-size: 18px;
}
.forms{
    margin: auto;
    align-content: center;
}
.Cadastro{
    background-color: #BFDDF3;
    border-style:dashed;
    border-color: #4fa9e9;
}

.Alterar{
    background-color: #c5c525;
    border-style:dashed;
    border-color: #92e032;
}

.Excluir{
    background-color: #bc1010;
    border-style:dashed;
    border-color: #c41717;
}


.supre{
    margin: 0% 10%;
    text-align: center;
}

#main-container{
    margin-top: 7rem;
}
.vertical-divider {
    width: 7px; /* Largura da linha vertical */
    
    background-color: #000; /* Cor da linha */
    height: 100%; /* Altura da linha, ajuste conforme necessário */
}

@media (max-width: 1056px) {
    .blocos{
        display: block;
        margin: auto;
    }
    .forms{
        background-color: pink;
        text-align: left;
        width: 100%;
        padding: 5%;
        border-radius: 20px;    
    }
    .crud li{
        display: block;
        margin: 10%;
        font-size: 1.5rem;
    }
    .supre{
        margin: 0px;
    }
}

button {
    border: none;
  }
  
  .App {
    text-align: center;
  }
  
  .container {
    background-color: #dae0f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .todos {
    background-color: white;
  }
  
  .todo {
    margin-top: 1rem;
    margin-bottom: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .todo p {
    min-width: 200px;
    max-width: 200px;
    text-align: start;
  
    font-size: 1rem;
    font-weight: bold;
    color: #64697b;
  }
  
  .checkbox {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100%;
  
    border: 2px solid ;
    box-shadow: none;
    margin: 10px;
  }
  .header {
    background-color: pink;
    width: 100%;
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.3);
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: #64697b;
    font-size: 0.8rem;
  }
  .newTaskButton {
    border: none;
    background-color: pink;
    width: 160px;
    height: 50px;
    border-radius: 24px;
    margin-top: 20px;
    color: #64697b;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .inputName {
    margin-top: 10px;
    text-align: center;
    border: none;
    height: 50px;
    width: 200px;
    box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.3);
  }
  input:focus {
    outline: none;
  }

  .icon{
    padding: 0.1%;
  }